@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


body {
  font-family: 'Barlow', sans-serif;
}

h1 {
  text-align: center;
  margin-top: 100px ;
}

table {
  width: min(50%, 750px);
  margin: 30px auto;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: .5em;
  border: 2px solid #999;
  vertical-align: top;
}

th {
  text-transform: capitalize;
}

td:nth-child(3) {
  text-align: right;
}

td:empty::after {
  content: "*";
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

@media (max-width: 1000px) {
  table {
    width: 90%;
  }
}